///Tells you what .php you are looking at
///comment out/in display:none to see me or not.
.phpinfo{
  background-color: grey;
  color: orange;
  padding: 0.1rem 1rem;
  display: none;
}


//Here are the core auto classes that wordpress adds. You must style these to make images and captions work the way you want
//want to check all the wp classes -> https://codex.wordpress.org/CSS

.alignnone, a img.alignnone, .aligncenter, div.aligncenter, a img.aligncenter {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.alignleft, .alignright, a img.alignright{
  @include media-zero{
    float: none;
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }

  @include media-sml{
    padding: 1  ;
    width: 50%;
    height: auto;
  }
}

.alignleft, a img.alignleft {
  @include media-sml{
    float: left;
    padding:0 1rem 0 0;
  }
}

.alignright, a img.alignright {
  @include media-sml{
    float: right;
    padding:0 0 0 1rem;
  }
}


strong{
  font-weight: 500;
}

.wp-caption-text, p.wp-caption-text {
  @include fontSize($small);
  color: grey;
  font-style: italic;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}




.nav-previous{
  padding-right: 1rem;
}
